<!-- <highcharts-chart *ngIf="isHighcharts" [Highcharts]="Highcharts" [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->

  <h2>Navigation page</h2>
  <br>
  <nav>
    <a routerLink="/total-value-heatmap" routerLinkActive="active" ariaCurrentWhenActive="page">Total Value Heatmap</a>
    <a routerLink="/total-number-heatmap" routerLinkActive="active" ariaCurrentWhenActive="page">Total Number Heatmap</a>
    <a routerLink="/product-Information" routerLinkActive="active" ariaCurrentWhenActive="page">Products Information</a>
    <a routerLink="/heatmap" routerLinkActive="active" ariaCurrentWhenActive="page">Sample Heatmap</a>
  </nav>
  <router-outlet></router-outlet>
